:root {
    --red: #ff3456ff;
    --mainColor: #4408bc;
  }

a {
    color: var(--red);
}

div {
    margin: 50px auto;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #222;
    padding: 20px;
    width: 700px;
}

.red {
    color: var(--red);
}